/.venv


/DOCXToText/__pycache__
/DOCXToText/Converters/__pycache__
/DOCXToText/Extractors/__pycache__
/DOCXToText/Pipeline/__pycache__


*.docx
*.doc
*.pdf
*.txt
*.xml
*.json
*.csv
*.xlsx
*.xls
*.pptx
*.ppt


/Data